<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>GPA CALCULATOR</title>
</head>
<body>
    <header class="header">
        <div class="main-image">
            <img src="./static/main-pattern.jpg">        
        </div>
        <div class="main-text">
            <div class="typed-out">GPA Calculator | PT8-KFS</div>
        </div>
    </header>
    {% block main %}{% endblock %}
</body>
<script>
    function myFunction() {
    alert("Hello\nHow are you?");
    }
</script>
</html>